<!DOCTYPE html>
<html>
<head>
  <title>MediaShare</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%- if notice || alert %>
 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
 <%- end %>


<div class="logo">
  <%= link_to "MEDIASHARE", root_url %>
</div>
<div class="top_bar">
<%= render 'menu/top_bar'%>
</div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pl_PL/all.js#xfbml=1&appId=484008321666777";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
 <%= yield %>
<footer></footer>

</body>
</html>
